body {
  font-family: 'Noto Sans JP', sans-serif;
}

#calendar {
  min-height: 400px;
}

#calendar > div > div {
  min-height: 120px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  #calendar > div > div {
    min-height: 140px;
    font-size: 0.7rem;
  }

  #calendar .text-xs {
    font-size: 0.6rem;
  }
}
